fastapi
uvicorn
pydantic
python-multipart
torch
torchaudio
numpy
scipy
einops
sentencepiece
julius
hydra-core
hydra-colorlog
num2words
av
fvcore
huggingface-hub
tqdm
librosa
flashy
encodec
demucs
torchmetrics
transformers
torchdiffeq
diffusers
accelerate
soundfile
torchsde
